<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la Evolución Pokemon</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>[[#{pokemon.info-evolucion}]]</h2>
        
        <a th:href="@{/}">[[#{accion.regresar}]]</a>
        <br/>

        <div th:if="${evolucion != null}">

            <table border="1">
                <tr>
                    <th th:text="#{pokemon.id}">Id</th>
                    <th th:text="#{pokemon.nombre}">Nombre</th>
                    <th th:text="#{pokemon.nivel}">Nivel</th>
                    <th th:text="#{pokemon.tipos}">Tipos</th>
                    <th th:text="#{pokemon.habilidades}">Habilidades</th>
                </tr>

                <tr>
                    <td th:text="${evolucion.id_pokemon}">Mostrar Id</td>
                    <td th:text="${evolucion.pokemon_nombre}">Mostrar Nombre</td>
                    <td th:text="${evolucion.pokemon_nivel}">Mostrar Nivel</td>
                    <td th:text="${evolucion.pokemon_tipos}">Mostrar Tipos</td>
                    <td th:text="${evolucion.pokemon_habilidades}">Mostrar Habilidades</td>
                </tr>
            </table>
        </div>
        
        <div th:if="${evolucion == null}">
            [[#{pokemon.evolucion-vacia}]]
        </div>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
