<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>[[#{pokemon.registro}]]</h2>
        
        <a th:href="@{/agregar}">[[#{pokemon.agregar}]]</a>
        
        <div th:if="${pokemons != null and !pokemons.empty}">
            <table border="1">
                <tr>
                    <th>[[#{pokemon.id}]]</th>
                    <th>[[#{pokemon.nombre}]]</th>
                    <th>[[#{pokemon.nivel}]]</th>
                    <th>[[#{pokemon.tipos}]]</th>
                    <th>[[#{pokemon.habilidades}]]</th>
                    <th>[[#{pokemon.evoluciones}]]</th>
                    <th>[[#{accion.editar}]]</th>
                    <th>[[#{accion.eliminar}]]</th>
                </tr>

                <tr th:each="pokemon : ${pokemons}">
                    <td th:text="${pokemon.id_pokemon}">Mostrar Id</td>
                    <td th:text="${pokemon.pokemon_nombre}">Mostrar Nombre</td>
                    <td th:text="${pokemon.pokemon_nivel}">Mostrar Nivel</td>
                    <td th:text="${pokemon.pokemon_tipos}">Mostrar Tipos</td>
                    <td th:text="${pokemon.pokemon_habilidades}">Mostrar Habilidades</td>
                    <td><a th:href="@{/evolucionar/{id_pokemon}/{id_evolucion}(id_pokemon = ${pokemon.id_pokemon}, id_evolucion = ${pokemon.id_evolucion})}"/>[[#{pokemon.evoluciones}]]</td>
                    <td><a th:href="@{/editar/} + ${pokemon.id_pokemon}"/>[[#{accion.editar}]]</td>
                    <td><a th:href="@{/eliminar(id_pokemon=${pokemon.id_pokemon})}"/>[[#{accion.eliminar}]]</td>
                </tr>
            </table>
        </div>
        
        <div th:if="${pokemons == null or pokemons.empty}">
            [[#{pokemon.lista-vacia}]]
        </div>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
