<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Login Pokedex</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h3>Login</h3>
        
        <input type="text" name="usuario" value="" placeholder="Usuario">
        <input type="text" name="contrasenia" value="" placeholder="Contraseña">
        <a th:href="@{/index}">Ingresar</a>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
