<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos del Pokemon</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>[[#{pokemon.formulario}]]</h2>
        
        <a th:href="@{/}">[[#{accion.regresar}]]</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${pokemon}">
            
            <input type="hidden" name="id_pokemon" th:field="*{id_pokemon}"/>
            
            <label for="pokemon_nombre">[[#{pokemon.nombre}]]:</label>
            <input type="text" name="pokemon_nombre" th:field="*{pokemon_nombre}"/>
            <span th:if="${#fields.hasErrors('pokemon_nombre')}" th:errors="*{pokemon_nombre}">Error nombre</span>
            <br/>
            
            <label for="pokemon_nivel">[[#{pokemon.nivel}]]:</label>
            <input type="number" name="pokemon_nivel" min="1" th:field="*{pokemon_nivel}"/>
            <span th:if="${#fields.hasErrors('pokemon_nivel')}" th:errors="*{pokemon_nivel}">Error nivel</span>
            <br/>
            
            <label for="pokemon_tipos">[[#{pokemon.tipos}]]:</label>
            <input type="text" name="pokemon_tipos" th:field="*{pokemon_tipos}"/>
            <span th:if="${#fields.hasErrors('pokemon_tipos')}" th:errors="*{pokemon_tipos}">Error tipos</span>
            <br/>
            
            <label for="pokemon_habilidades">[[#{pokemon.habilidades}]]:</label>
            <input type="text" name="pokemon_habilidades" th:field="*{pokemon_habilidades}"/>
            <span th:if="${#fields.hasErrors('pokemon_habilidades')}" th:errors="*{pokemon_habilidades}">Error habilidades</span>
            <br/>
            
            <label for="pokemon_evoluciones">[[#{pokemon.evoluciones}]]:</label>
            <input type="number" name="id_evolucion" min="0" th:field="*{id_evolucion}"/>
            <span th:if="${#fields.hasErrors('id_evolucion')}" th:errors="*{id_evolucion}">Error evolucion</span>
            <br/>
            
            <input type="submit" name="guardar" th:value="#{accion.guardar}"/>
        </form>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
